<?php
/**
 * Форма просмотра заказа
 */
namespace RAAS\CMS\Shop;

use SOME\ClassImporter;
use RAAS\CMS\Cities\ViewFeedbackFormTrait as CitiesViewFeedbackFormTrait;

ClassImporter::import(
    Module::i()->classesDir . '/forms-n-tables/vieworderform.class.php',
    'ViewOrderFormOriginal'
);

/**
 * Класс формы просмотра заказа
 */
class ViewOrderForm extends ViewOrderFormOriginal
{
    use CitiesViewFeedbackFormTrait;
}
